.yeller, .seconds {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
}
.yeller {
   background-color: #000000;
   color: #ffffff;
}
.seconds {
   background-color: yellow;
}
