.main_p {
   background-color: rgb(250, 98, 179);
}
.cool_class {
   font-size: 18px;
}
#one_ID {
    font-size: 24px;
    color: #0000ff;
}
#another_id {
    background-color: rgb(20, 182, 47);
    font-weight: 700;
}
